<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="QuizConnectionString" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizConnectionString2" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizConnectionString3" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizConnectionString4" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizConnectionString5" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="QuizConnectionString6" connectionString="Data Source=hp\SQLEXPRESS;Initial Catalog=Quiz;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
